/* styles/style.css */

/* Styles généraux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#scoreboard {
    font-size: 24px; 
    color: #ffcc00; 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    z-index: 10; 
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px; 
    border: 3px solid #ffcc00; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.5);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5); 
}

/* Conteneur du jeu */
#gameContainer {
    position: relative;
    width: 600px;
    height: 800px;
    border: 2px solid white;
    background-image: url('../images/soccer.png'); 
    background-size: cover; 
    background-position: center; 
}

/* Balle */
#ball {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 20px; 
    height: 20px; 
    display: none; 
}

/* Obstacles */
/*
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}
*/
#obstacle1 {
    top: 170px;
    left: 100px;
}

#obstacle2 {
    top: 600px;
    right: 100px;
}



